<script type="text/javascript">
	function hideWholesaleCategory() {
		$('.CategoryList ul li:contains("Wholesale Glass Pipes")').hide("");
	}
	var signInText = "<span>" + "%%GLOBAL_LoginOrLogoutText%%" + " to see prices</span>";
	function showWholesalePrices() {
		if (!$('.CategoryList ul li:contains("Wholesale Specials")').length && $('#CategoryBreadcrumb:contains("Wholesale")').length) {
			console.log('HelloooOOOO?   Whaaaat is happppeeennnnning?????');
			$('.p-price').html(signInText);
		};
	}
	$(document).ready( function () {
		hideWholesaleCategory();
		showWholesalePrices();
	});
</script>
